extends layout

block content
  h1
      br
      br
      br
      br
      br
      a(href="/privacidad") Privacidad
      br
      br
      a(href="/aboutus") Quienes somos
      br
      br
      a(href="/contacto") Contacto