html(lang="en")

head 
    title Book Tinder 
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap", rel="stylesheet")
body
block jeje 
    header
        nav   
            ul(class="navUl") 
                
                    a(href="/") 
                        img(src="/img/casa.png", id="iconos", alt="homess")
                    a(href="/users") 
                        img(src="/img/comunity.png", id="iconos", alt="añadir")
                        
                    a(href="/new")
                        img(src="/img/mas.png", id="iconos", alt="añadir")
                    
                    a(href="/favs/user/favs") 
                        img(src="/img/heartFav.png", id="iconos", alt="favoritos")
                    if user   
                        a(href=`/users/user/profile/${user.username}`)
                            img(src="/img/user.png", id="iconos", alt="usuario")
                        
                        //- a(href="/logout") 
                        //-     img(src="/img/logout.png", id="iconos", alt="logout")
                                            
               
main
    
    block content   
