hmtl
    head 
        title Book Tinder 
        link(rel="stylesheet", href="/css/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap", rel="stylesheet")
body 
    header
        block nav
            nav   
                ul 
                    a(href="/") 
                        li Home
                    a(href="/books") 
                        li libros
                    if auth
                        a(href="/users") 
                            li Usuarios
                        a(href="/logout") 
                            li Logout
                    else 
                            a(href="/login") 
                                li login
                            a(href="/register") 
                                li Registrarse
                            

    main
        block content
    footer
    ul(class="enlaces")
        li
            a(href="/aboutus") About Us
        li
            a(href="/contacto") Contacto
        li
            a(href="/privacidad") Politica de privacidad
        br
    #center
        a(href="#")
        img(src="img/logofooter.jpg", alt="Logo", width="100", height="100")
    ul#redes
        li
        a(href="#")
            img(src="img/fb.jpg", id="iconos", alt="Facebook")
        br
        li
        a(href="#")
            img(src="img/inst.jpg", id="iconos", alt="Instagram")
        br
        li
        a(href="#")
            img(src="img/lin.jpg", id="iconos", alt="LinkedIn")
        br
        li
        a(href="#")
            img(src="img/tw.jpg", id="iconos", alt="Twitter")
        br
    br
    | Booktinder.Copyright © 2023
    br
