head 
    title Book Tinder 
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap", rel="stylesheet")

body(class="bodySlide2")
    //-img(src="img/chat.jpg", alt="info de chat", class="slice")

    a(href="/sliceThird") 
        button(class="btn-slice") Siguiente
