extends ../index

block content 
    h1 Usuarios
    table(class="table table-striped", id="users")
        thead 
        tbody
            each user in users 
                tr
                    td 
                        if user.avatar
                            img(src=`${user.avatar}`, alt="avatar", class="avatar")
                        else
                            img(src="/img/default-avatar.jpg", alt="avatar", class="avatar")
                    td
                        a(href=`/users/user/profile/${user.username}`, method="get")= user.username
                    //- td= user.email
                    //- td= user.role
                    td 
                        if auth && auth.role == "admin"
                            form(action=`/users/user/edit/${user.username}`, method="get", class="formBookOption")
                                input(type="submit", name="btn edit", value="Editar", class= "btnBookOption")
                            form(action=`/users/user/delete/${user.username}`, method="post")
                                input(type="submit", value="Eliminar", class="btnBookOption", class="formBookOption")
                            a(href="/chat") Chat






