head 
    title Book Tinder 
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap", rel="stylesheet")

body 
    form(action="/login", method="post", id="register-form")
        label(for="username") Usuario
        input(type="text", name="username", id="username", placeholder="nombre usuario")
        br
        label(for="password") Contraseña
        input(type="password", name="password", id="password")
        br
        input(type="submit", value="Acceder", class="btn")
        br
        p ¿No estás registrado?
    a(href="/register") 
        button(class="btn") Registrate

    block content

       
