html
  head
    title ¿Quiénes somos?
  body
    h1 ¿Quiénes somos?
    img(src="ruta/de/la/imagen.jpg", alt="Imagen de libros")
    p Somos tres estudiantes del programa de Full Stack del Bootcamp The Bridge-Kutxabank y hemos decidido crear la primera plataforma P2P gratuita de intercambio de libros para amantes de la lectura.  
    br
    p Booktinder nace con la idea de poner en contacto a lectores particulares que sientan pasión por la literatura y quieran intercambiar sus libros y puedan leerlos, sin tener que comprarlos.
    br
    p La plataforma es totalmente gratuita, no tenemos intereses comerciales, ni dependemos de ningún grupo editorial o librería. 
    br
    p No nos hacemos responsables del funcionamiento de los préstamos entre particulares, simplemente ofrecemos nuestra plataforma para poner en contacto a las personas interesadas en hacer el intercambio de libros. 

