extend ../layout

block content
    h2 Crear un libro
    if error
        p=error
    form(action="/books" method="POST")
        label(for="title") Titulo
        input(type="text" name="title" id="title")
        br
        label(for="type") Genero
        input(type="text" name="type" id="type")
        br
        label(for="writer") Autor/a
        input(type="text" name="writer" id="writer" )
        br
        label(for="synopsis") Sinopsis 
        input(type="text" name="synopsis" id="synopsis")
        br
        label(for="ISBN") ISBN 
        input(type="number" name="ISBN" id="ISBN")
        br
        label(for="book_cover") Portada 
        input(type="file" name="book_cover" id="book_cover")
        br
        input(type="hidden", name ="password", value="mi-contraseña")
        input(type="submit", value="Añadir libro")
    a(href="/books")
        button Volver 